@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins, sans-serif';
}

body {
  background-color: lightBlue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container-box {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  line-height: 50px;
}

.nav-item {
  padding: 0 20px;
}

.header {
  background-color: #7c7070;
  width: 100%;
  padding: 10px;
  border: 5 px solid #000;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 0 50px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.2);
}

.container .left-side {
  position: relative;
  background: #003147;
  padding: 40px;
}
.container .right-side {
  position: relative;
  background: #fff;
  padding: 40px;
}

.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .img {
  position: relative;
  width: 260px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText .imgbx .img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileText h2 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

.profileText h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.contact-info {
  padding-top: 40px;
  min-width: 170px;
}

.example {
  background-color: #95a1ddd5;
  padding: 15px;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  list-style: 1px;
  margin-bottom: 20px;
}

.contact-info ul {
  position: relative;
}

.contact-info ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contact-info ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}

.contact-info ul li span {
  color: #fff;
  font-weight: 300;
}

.contact-info.education li {
  margin-bottom: 15px;
}

.contact-info.education h5 {
  color: #03a9f4;
  font-weight: 500;
}

.contact-info.education h4 {
  color: #fff;
  font-weight: 500;
}

.contact-info.education a {
  color: lightblue;
}

.contact-info.language {
  color: #03a9f4;
  font-weight: 500;
}

.about {
  margin-bottom: 50px;
}
.about:last-child {
  margin-bottom: 0;
}

.title2 {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

p {
  color: #333;
}

.interest ul {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1.5fr 1fr;
}

ul li .fa {
  color: #03a9f4;
  font-size: 18px;
  width: 20px;
}
a {
  color: #fff;
}

.footer {
  background-color: #7c7070;
  width: 100%;
  padding: 10px;
  border: 5 px solid #000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  padding: 20px;
}

@media (max-width: 1070px) {
  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 770px) {
  .interest ul {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 600px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
}
