@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/inter-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/inter-v12-latin-700.woff2') format('woff2'),
    url('../fonts/inter-v12-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inika-v21-latin-regular.eot');
  src: local(''),
    url('../fonts/inika-v21-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/inika-v21-latin-regular.woff2') format('woff2'),
    url('../fonts/inika-v21-latin-regular.woff') format('woff'),
    url('../fonts/inika-v21-latin-regular.ttf') format('truetype'),
    url('../fonts/inika-v21-latin-regular.svg#Inika') format('svg');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.back_color {
  background-color: #edf2ec;
}
.container {
  width: 1222px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 50px;
  padding-top: 42px;
  padding-bottom: 42px;
}

.header__logo {
  display: flex;
  gap: 1px;
  width: 78px;
  height: inherit;
  align-items: center;
}

.logo__img {
  width: 20px;
  height: 20px;
  padding: 0 0;
}

.logo__text {
  width: 58px;
  height: 17px;
  margin: 0;
  font-family: 'Inika';
  font-size: 16px;
  line-height: 21px;
}

.header__nav {
  width: 452px;
  height: 50px;
}

.menu {
  list-style-type: none;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  /* gap: 46px; */
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.menu__item {
  font-family: 'Inika';
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  color: #010201;
}

.menu__item:hover {
  color: #e06733;
}

.active {
  color: #e06733;
  margin-top: 0;
}

.header__burger {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 24px;
  position: relative;
}
.bar {
  display: block;
  position: absolute;
  background-color: #717171;
  width: 100%;
  height: 2px;
  left: 0;
}

.bar1 {
  top: 0;
}
.bar2 {
  top: 33%;
  transform: translateY(-33%);
}
.bar3 {
  top: 68%;
  transform: translateY(-68%);
}
.bar4 {
  bottom: 0;
}

.welcome__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 407px;
  padding-top: 62px;
  padding-bottom: 62px;
}

.welcome__img {
  width: 448px;
  height: 407px;
  margin: 0;
  background: url('../img/svg/leafs.svg') center center;
}

.welcome__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 549px;
  height: 340px;
}

.h1 {
  margin: 0;
  font-family: 'Inter';
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  color: #717171;
}

.accent {
  color: #499a18;
}

.welcome__text_about {
  margin: 0;
  font-family: 'Inter';
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}

.btn {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid #e06733;
  border-radius: 10px;
}

.welcome__btn {
  width: 158px;
  height: 44px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.welcome__btn:hover {
  background-color: #e06733;
  color: #ffffff;
  cursor: pointer;
}

.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 479px;
  padding-top: 93px;
  padding-bottom: 94px;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  width: 605px;
  height: 350px;
}

.h2 {
  margin: 0;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.about__title {
  width: 463px;
  color: #e06733;
}

.about__text_about {
  width: 605px;
  margin: 0;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}

.about__img {
  width: 464px;
  height: 479px;
  margin: 0;
  background-size: cover;
  background: url('../img/houseplant.jpg');
}

.service__container {
  display: flex;
  flex-direction: column;
  gap: 90px;
  height: 1139px;
  padding-top: 40px;
  padding-bottom: 121px;
}

.service__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1007px;
  height: 94px;
}

.service__title {
  width: 306px;
  height: 94px;
  color: #499a18;
}

.wrap_btns {
  display: flex;
  justify-content: space-between;
  width: 559px;
  height: 50px;
  margin-top: 14px;
}

.service__nav_btn {
  width: 161px;
  height: 50px;
  border: 1px solid #e06733;
  border-radius: 5px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
}

.service__nav_btn:hover {
  background-color: #e06733;
  color: #ffffff;
  cursor: pointer;
}

.service__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 955px;
}

.service__list_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 330px;
  height: 450px;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}

.service__list_img {
  width: 329px;
  height: 350px;
  margin: 0;
}

.service__list_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: 100px;
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 20px 20px;
  box-sizing: border-box;
}

.service_name {
  width: 120px;
  height: 24px;
  margin: 0;
  padding-top: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  color: #e06733;
}

.service_text {
  width: 267.19px;
  height: 20px;
  margin: 0;
  padding-top: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

.prices__container {
  display: flex;
  justify-content: space-between;
  height: 405px;
  padding-top: 40px;
  padding-bottom: 115px;
}

.prices__rates {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 332px;
  height: 391px;
}

.prices__title {
  width: 135px;
  height: 49px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.prices__accordion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 332px;
  height: 282px;
  box-sizing: border-box;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.accordion__item {
  width: 250px;
  height: 50px;
  background: #edf2ec;
  border-radius: 20px;
}

.accordion__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  height: 18px;
  padding: 16px 40px;
}

.rate {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #d9d9d9;
}

.circle::after {
  width: 6px;
  height: 4px;
  box-sizing: border-box;
  background-image: url('../img/svg/arrow_form.svg');
  background-repeat: no-repeat;
  content: '';
  transition: transform 0.2s ease-out;
}

.prices__help {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 452px;
  height: 405px;
}

.prices__help_about {
  width: 452px;
  height: 103px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
}

.prices__btn {
  width: 162px;
  height: 50px;
  margin-bottom: 1px;
  border: 1px solid #e06733;
  border-radius: 5px;
  background-color: #ffffff;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #e06733;
}

.prices__btn:hover {
  background-color: #e06733;
  color: #ffffff;
  cursor: pointer;
}

.prices__img {
  width: 152px;
  height: 175px;
  margin: 0;
  background: url('../img/svg/leafs2.svg') center center;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 497px;
  padding-top: 53px;
}
.contacts__img {
  width: 400px;
  height: 497px;
  background: url('../img/contact_woman.png');
}
.contacts__info {
  display: flex;
  justify-content: space-between;
  width: 709px;
  margin-top: 7px;
}
.contacts__title {
  margin: 0;
  font-weight: 700;
  color: #499a18;
}
.form__cities {
  width: 450px;
  height: 50px;
  margin-top: 86px;
  background-color: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 395px;
  height: 40px;
  margin: 5px 35px 5px 20px;
}
.circle_form {
  background-color: #aea1a1;
}
.select_city {
  position: relative;
  display: inline-block;
  width: 395px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
  background-color: transparent;
  border: none;
}
.circle_form::after {
  width: 6px;
  height: 4px;
  box-sizing: border-box;
  background-image: url('../img/svg/arrow_form.svg');
  background-repeat: no-repeat;
  content: '';
  transition: transform 0.2s ease-out;
}

.footer {
  height: 130px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer__data {
  display: flex;
  justify-content: space-between;
  width: 213px;
}
.footer__data p {
  margin-right: 21px;
}

.footer_link {
  color: #000000;
}

.footer_link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__rslogo {
  width: 215px;
  margin-right: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 188px;
  height: 50px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 0px;
}

.link_icon:hover {
  transform: scale(1.1);
}

.bg1 {
  background-size: cover;
  background-image: url(../img/first.png);
}
.bg2 {
  background-size: cover;
  background-image: url(../img/first2.png);
}
.bg3 {
  background-size: cover;
  background-image: url(../img/first3.png);
}
.bg4 {
  background-size: cover;
  background-image: url(../img/first4.png);
}
.bg5 {
  background-size: cover;
  background-image: url(../img/first5.png);
}
.bg6 {
  background-size: cover;
  background-image: url(../img/first6.png);
}

@media screen and (max-width: 770px) {
  .container {
    width: 668px;
  }
  .header__container {
    height: 48px;
    /* margin-top: 0; */
    margin: 0;
  }
  .header__menu {
    margin: -7px 0 0px 0px;
  }

  .welcome__container {
    flex-direction: row-reverse;
    height: 310px;
    padding-top: 25px;
    padding-bottom: 71px;
  }
  .welcome__text {
    width: 346px;
    height: 310px;
  }

  .welcome__text_about {
    font-size: 16px;
    line-height: 25px;
    margin: 0 0 0 5px;
  }
  .h1 {
    font-size: 35px;
  }
  .welcome__img {
    zoom: 0.61;
    margin: 0px 6px 89px 0px;
  }

  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 49px;
    height: 640px;
  }

  .about__title {
    width: 423px;
    text-align: center;
    font-size: 35px;
    line-height: 46px;
    margin: -40px 0 0 0;
  }

  .about__text {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .about__text_about {
    width: 668px;
    margin-bottom: 68px;
  }

  .about__img {
    background-size: cover;
    width: 250px;
    height: 258px;
    margin-bottom: -30px;
  }

  .service__nav {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .service__container {
    margin: 0px 0px 0px 34px;
    height: 1618px;
  }

  .service__list_item {
    width: 281px;
    margin-bottom: 38px;
  }
  .service__title {
    margin: 20px 0px 0 0;
    font-size: 35px;
    line-height: 46px;
  }
  .wrap_btns {
    margin-top: 42px;
  }
  .service__list {
    margin: 60px 0 0 0;
  }
  .service__list_about {
    width: 281px;
  }
  .service_text {
    width: 201.19px;
    text-align: center;
    padding: 5px 0 0 0;
  }

  .service__list_img {
    width: 280px;
    height: 350px;
    margin: 0;
    position: relative;
  }
  .service__list_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .prices__container {
    padding-bottom: 140px;
  }

  .prices__help_about {
    font-size: 25px;
    line-height: 35px;
    width: 296px;
    height: 77px;
  }
  .prices__title {
    font-size: 35px;
    line-height: 42px;
    text-align: center;
  }
  .prices__accordion {
    margin-bottom: 9px;
  }
  .prices__help {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .prices__btn {
    margin: 22px 0 -19px 0;
  }
  .prices__img {
    margin: 50px 0 -50px 0;
  }

  .contacts__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 739px;
    padding-top: 0;
    flex-direction: column-reverse;
  }

  .contacts__info {
    display: flex;
    width: 709px;
    margin-top: 7px;
    flex-direction: column;
    align-items: center;
  }
  .form__cities {
    margin: 100px 0 127px 0;
  }
  .contacts__title {
    margin-top: 33px;
  }
  .contacts__img {
    width: 200px;
    height: 248.49px;
    background-size: cover;
    margin: 0 0 0 20px;
  }

  .footer {
    width: 768px;
    height: 181px;
    display: flex;
    justify-content: center;
  }
  .footer__container {
    width: 210px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 0;
  }
  .footer__data {
    display: flex;
    justify-content: space-between;
    width: 229px;
    margin: 21px -54px 2px 0;
  }

  .div {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 1000px;
  }
  p {
    margin: 0;
  }
  .footer__data p {
    margin: 0;
  }

  .footer__rslogo {
    margin: -12px -4px 12px 0;
  }
}

@media screen and (max-width: 385px) {
  .container {
    width: 330px;
    margin: 0 auto;
  }
  .header__burger {
    display: block;
  }

  .header__container {
    width: 330px;
    margin: 0 auto;
    padding: 24px 0 25px 0;
  }

  .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 75px;
    background-color: #edf2ec;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }
  .header__nav_active {
    transform: translateY(0);
  }
  .burger__none {
    display: none;
  }

  .li__header {
    width: 100%;
    margin-bottom: 30px;
  }
  .li__header:last-child {
    margin-bottom: 0;
  }

  .header__menu {
    flex-wrap: wrap;
  }
  .menu__item {
    font-size: 40px;
    line-height: 50px;
  }
  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 310px;
    z-index: 11;
  }

  .header__nav-close-line {
    display: block;
    width: 100%;
    position: absolute;
    background-color: #717171;
    height: 2px;
    left: 0;
    top: 50%;
  }
  .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  .bar4 {
    bottom: -2px;
  }
  .bar3 {
    top: 74%;
    transform: translateY(-74%);
  }
  .bar2 {
    top: 36%;
    transform: translateY(-36%);
  }

  .h1 {
    font-size: 25px;
    line-height: 35px;
  }

  .welcome__container {
    flex-direction: row-reverse;
    height: 252px;
    padding: 25px 0;
  }
  .welcome__img {
    display: none;
  }

  .welcome__text_about {
    margin: -9px 0 0px 0px;
  }

  .welcome__btn {
    width: 100px;
    height: 34px;
    font-size: 10px;
    line-height: 20px;
  }
  .welcome__text {
    height: 248px;
  }

  .about__container {
    height: 516px;
    margin: 0 auto;
    padding: 0;
    justify-content: flex-start;
  }

  .about__title {
    font-size: 25px;
    line-height: 33px;
    width: 288px;
    height: 57px;
    margin: 27px 0 22px 0;
  }
  .about__text {
    height: 332px;
  }

  .about__text_about {
    font-size: 15px;
    line-height: 25px;
    height: 228px;
    width: 330px;
  }

  .about__img {
    width: 150px;
    height: 147px;
  }

  #about {
    height: 516px;
  }

  #service {
    height: 3150px;
  }

  .service__container {
    padding-top: 27px;
  }

  .service__title {
    width: 187px;
    height: 69px;
    font-size: 25px;
    line-height: 33px;
    margin: 0 0 38px 0;
    padding: 0;
  }
  .wrap_btns {
    width: 252px;
    height: 79px;
    flex-wrap: wrap;
    margin: 0;
  }
  .service__nav_btn {
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 9px;
  }
  .service__list {
    margin: 40px 0px 0 24px;
  }
  .service__list_item {
    margin-bottom: 34px;
  }

  #price {
    height: 512px;
  }

  .prices__container {
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
  }

  .prices__title {
    font-size: 25px;
    line-height: 30px;
    width: 224px;
    margin-bottom: 18px;
  }
  .prices__accordion {
    width: 224px;
    height: 235px;
    margin: 0;
    align-items: center;
    justify-content: flex-start;
  }

  .accordion__item {
    width: 180px;
    height: 50px;
  }
  .accordion__title {
    width: 110px;
    padding: 16px 31px;
  }

  .rate {
    font-size: 15px;
  }

  .prices__help {
    width: 230px;
    height: 126px;
    align-items: center;
  }
  .prices__help_about {
    font-size: 20px;
    text-align: center;
    width: 230px;
  }
  .prices__btn {
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 20px;
    margin: 13px 0 -19px 0;
  }
  .prices__img {
    display: none;
  }

  .prices__rates {
    width: 224px;
    margin: 22px 0 20px 0;
  }
  .item-1 {
    margin: 29px 0 0 0;
  }
  .item-2 {
    margin: 14px 0 0 0;
  }
  .item-3 {
    margin: 13px 0 0 0;
  }

  #contacts {
    height: 445px;
  }

  .contacts__title {
    font-size: 25px;
    line-height: 33px;
  }

  .form__cities {
    width: 300px;
    margin: 81px 0 127px 0;
  }
  .form__items {
    width: 257px;
  }

  .select_city {
    width: 250px;
  }

  .contacts__info {
    margin: -11px 0 0 -3px;
  }
  .contacts__img {
    width: 100px;
    height: 124px;
    margin: 0 0 0 -5px;
  }
  .contacts__container {
    height: 442px;
  }
  .footer {
    width: 100%;
    height: 130px;
  }
  .footer__data {
    margin: 6px -54px 1px 0;
  }
  .footer__rslogo {
    margin: -12px -4px -1px 0;
  }
}
